<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunstbeoordeling</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="accountBody">
    <header>
        <img src="./svg/logopantheon.svg">
    </header>
    <main>
        <h2 class="accountH2">Welcome, <%= users.username %>!</h2>



        <div class="accountDetails">
            <div class="form">
                <label>Username:</label>
                <p>
                    <%= users.username %>
                </p>
                <label>Password:</label>
                <p>********</p>
                <label>Email:</label>
                <p>
                    <%= users.email %>
                </p>
                <label>Phonenumber:</label>
                <p>
                    <%= users.phonenumber %>
                </p>
            </div>
        </div>

        <button id="changePasswordBtn">Change account details</button>

        <div class="editFormContainer">
            <form id="editForm" action="/account" method="POST">
                <label for="name">Username:</label>
                <input type="text" id="name" name="username" value="<%= users.username %>">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="<%= users.email %>">
                <label for="name">Phonenumber:</label>
                <input type="tel" id="name" name="phonenumber" value="<%= users.phonenumber %>">
                <label for="oldPassword">Old password:</label>
                <input type="password" name="oldPassword" placeholder="Old Password" required>
                <label for="newPassword">New password:</label>
                <input type="password" name="newPassword" placeholder="New Password" minlength="6" required>
                <button type="submit" class="editButton">Update</button>
            </form>
        </div>



        <!-- Logout button -->
        <div class="form" id="logoutForm">
            <form action="/logout" method="GET">
                <button type="submit" class="logoutbutton">Logout</button>
            </form>
        </div>

        <div class="empty-space">
    </main>

    <nav>
        <ul class="navigation">
            <li><a href="/home"><img src="./svg/painting-nonactive.svg" /><span></span></a></li>
            <li><a href="/likes"><img src="./svg/thumb-nav-unactive.svg" /><span></span></a></li>
            <li><a href="/musea"><img src="./svg/pantheon-nav.svg" /><span></span></a></li>
            <li class="active"><a href="/account"><img src="./svg/account-active.svg" /><span></span></a></li>
        </ul>
    </nav>
    <script src="accountedit.js"></script>
</body>

</html>